.App {
  text-align: center;
}

.App-header {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  width: 100%;
  padding: 10px;
  color: white;
}

.events-list {
  margin-top: 110px;
}

.event-listing, .event-details {
  padding: 0.5em;
  font-size: 1em;
  -webkit-box-shadow: 6px 6px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 20px -8px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 30px -8px rgba(0,0,0,0.75);
}

.event-listing {
  margin: 1em 30%;
}

.event-details {
  margin: 1em 15%;
  margin-top: 110px;
  padding: 2em;
  min-height: 20em;
  text-align: left;
}

.event-listing .event-image {
  float: left;
  margin: 0.5em;
  width: 5em;
  height: 5em;
}

.event-details .event-image {
  float: right;
  margin: 1em;
  width: 15em;
  height: 15em;
}

.loading-indicator {
  margin-left: 20%;
}
